html 
    head 
        title Form for ongoing Courses
    body 
    
        form(action="/submit", method="POST")
    label(for="id") ID:
    input(type="text", id="id", name="id", placeholder="Enter your student ID", required)
    
    label(for="Name") Name:
    input(type="text", id="Name", name="Name", placeholder="Enter your Name", required)

    label(for="Enrolled") Enrolled Courses:
    input(type="text", id="Enrolled", name="Enrolled", placeholder="Enter enrolled courses", required)

    label(for="completedCourses") Completed Courses:
    textarea(id="completedCourses", name="completedCourses", placeholder="Enter your completed courses",  required)

    input(type="submit", value="Submit")
